*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
font-family: Arial, Helvetica, sans-serif;
background-color: #1b1d31;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;

}

form{
    background-color: #242513;
    display: flex;
    flex-direction: column;
    padding: 50px;
    max-width: 710px;
    box-shadow: 0 0 20px rgba(250, 243, 243, 0.4);
    text-align: center;
    border-radius: 8px;
    margin: auto;
}

form h2{

    font-size: 23px;
    color: rgb(143, 128, 229);
    margin-bottom: 30px;
}

input{
    padding: 17px;
    border-radius: 18px;
    background-color: transparent;
    border: 1px solid rgba(115, 61, 240, 0.637);
    margin-bottom: 30px;
    outline: none;
    color: aliceblue;
    font-size: 12px;
    

}

::placeholder{
    color: silver;

}

.btn{
    background-color: #e53854;
    border: 2px solid #e53854;
    cursor: pointer;
    box-shadow: 2px;
}

.btn:hover{
    background-color: #f33f5a;
    border: 2px solid #f33f5a;
    cursor: pointer;
    box-shadow: 2px;
}

@media (max-width:991px){
    body{
        padding: 30px;

    }

    form{
        width: 340px;

    }
}
b, p{
    color: aliceblue;
}


h2{
    text-align: center;
    padding: 2px;
    justify-content: center;
    color: bisque;
    display: flex;
}
a{
    color: slateblue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

div{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 710px;
    text-align: center;
    border-radius: 8px;
    
}

form img{
     max-width: 100%; /* nunca será más ancha que el form */
  height: auto;    /* mantiene proporción */
  display: block;  /* elimina espacios extra abajo de la imagen */
  margin: 0 auto;  /* centra la imagen */

}


